<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark bg-primary" [containerInside]="false">
    <!-- Navbar brand -->
    <mdb-navbar-brand><a class="navbar-brand" href="#">SAPERE</a></mdb-navbar-brand>
    <!-- Collapsible content -->
    <links>
        <!-- Links -->
        <ul class="navbar-nav mr-auto">
            <li class="nav-item " routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                <a class="nav-link waves-light" mdbWavesEffect routerLink="/home">Query<span
                        class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link waves-light" mdbWavesEffect routerLink="/addservices">Add Services</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link waves-light" mdbWavesEffect routerLink="/localservices">Local Services</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link waves-light" mdbWavesEffect routerLink="/lsas">Lsas</a>
            </li>
            <li class="nav-item">
                <a class="nav-link waves-light" mdbWavesEffect routerLink="/simulation">Simulation</a>
            </li>
            <li class="nav-item">
                <a class="nav-link waves-light" mdbWavesEffect routerLink="/graph">Graph</a>
            </li>
            <li class="nav-item">
                <a class="nav-link waves-light" mdbWavesEffect routerLink="/config">Configuration</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link waves-light" mdbWavesEffect routerLink="/about">About</a>
                </li >
            <li class="nav-item">
                <a class="nav-link waves-light" mdbWavesEffect routerLink="/">Logout</a>
            </li>
        </ul>
    </links>
</mdb-navbar>